* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #f2f2f2f2;
}

body, html {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 400;
}

.container-fluid {
    padding: 5% 10%;
}

/*Home Page*/

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

/*Header*/

.site-title {
    font-size: 2rem;
}

/*Footer*/

.footer {
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    z-index: 1;
    flex-shrink: 0;
}

.footer-icon {
    padding-right: 0.5rem;
}

/*Navigation bar*/

.nav {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 4rem 0 1rem;
    background-color: #fff;
    z-index: 1;
}

.nav.sticky {
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a, .dropdown-link{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    transition: 0.3s;
}

.nav li a {
    opacity: 0.6;
}

.nav li.active > a {
    opacity: 1;
}

.nav li:hover > a {
    text-decoration: underline;
    opacity: 1;
}

/*Dropdown manu in the Navbar*/

.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 7rem;
}

.dropdown-content a {
    background-color: white;
    padding: 0.2rem 0 0.1rem 0.5rem;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-link {
    opacity: 0.6;
    cursor: pointer;
}

.dropdown-link:hover {
    opacity: 1;
    text-decoration: underline;
}

/*Full width cover image*/

.cover-image {
    width: 100%;
    height: auto;
}

/*Featured Posts*/

.featured-post-content{
    padding-right: 2rem;
    margin-right: 5rem;
}

.featured-post-area {
    padding: 2rem;
}

.featured-post {
    padding: 6rem;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.featured-image {
    max-width: 100%;
    height: auto;
    margin: auto;
    transition: 0.3s;
}

.featured-image:hover, .project-image:hover{
    transform: scale(105%);
}

/*Project Details Page*/

.project-container {
    display: flex;
}

.project-title {
    padding: 3rem;
}

.project-image {
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 1.5rem 0;
    transition: 0.3s;
}

.project-content {
    padding: 1.5rem 0 0 2rem;
}


/*Portfolio page / Project Cards*/
.portfolio-container {
    margin-top: 3rem auto;
    align-items: center;
}

.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

.image-border-radius {
    border-radius: 0;
}

.card {
    width: 100%;
    color: white;
}

.card-title {
    opacity: 0;
    transition: .3s;
}

.card:hover .card-title{
    opacity: 1;
}

  
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
.card:hover::before {
    opacity: 1;
  }

  /*Gallery Page*/

  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
  }

  .gallery .pics {
    margin-bottom: 12px;
  }

  .pics {
    transition: .3s;
  }

  .pics:hover {
    filter: opacity(0.8);
  }

@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
      }
}

@media (max-width: 480px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
      }
}

/* @media (max-width: 768px) {
    .nav ul {
        flex-flow: column nowrap;
    }
} */


/*Bio Page*/

.bio-details-container {
    display: block;
    margin: 3rem auto;
    width: 40%;
    text-align: center;
}

.bio-title{
    color: #777;
    font-weight: 400;
    margin-bottom: 2rem;
}

.profile-image {
    display: flex;
    border-radius: 50%;
    width: 20%;
    margin: 3rem auto 0;
}

.follow-me-button {
    display: flex;
    margin: 5rem auto;
    height: 3rem;
    align-items: center;
}

/* Contact Page */

.contact-container {
    display: flex;
    margin: 5rem 25%;
    width: 60%;
}

.contact-form {
    display: block;
}

.contact-form input {
    margin-bottom: 0.5rem;
}

.contact-form-container {
    margin-left: 3rem;
    width: 50%;
}

.contact-form-container h3 {
    font-weight: 600;
}

.contact-image {
    width: 30%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.page-line-whitespace {
    margin: 0 auto;
}

.contact-elements {
    margin: 3rem 25%;
    line-height: 1;
}